@import "../includes/variables";

.body--dxpr-theme-nav-desktop {
  &.body--dxpr-theme-header-fixed.body--dxpr-theme-header-not-overlay {
    padding-top: 100px;
  }

  .navbar-toggler {
    display: none;
  }

  .dxpr-theme-header--top {
    width: 100%;

    .dxpr-theme-main-menu {
      height: var(--dxt-setting-header-top-height);
      position: relative;

      > div, section, ul.nav {
        height: var(--dxt-setting-header-top-height);
      }

      .nav-link {
        font-size: var(--dxt-setting-nav-font-size);
      }
    }

    #logo {
      display: inline;
      height: var(--dxt-setting-logo-height);
      max-height: 100%;
    }

    &.dxpr-theme-header--fixed {
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }

    &.dxpr-theme-header--fixed,
    &.affix {
      box-shadow: 0 3px 10px 0 rgb(50 50 50 / 5%);
    }

    // &.affix {
    //   border-bottom: 1px solid rgba(0,0,0,0.04);
    // }
    &.dxpr-theme-header--overlay {
      left: 0;
      position: absolute;
      right: 0;
      top: 39px;

      &.dxpr-theme-header--fixed {
        position: fixed;
      }

      &.dxpr-theme-header--sticky {
        transition: opacity 600ms, background-color 600ms;
      }

      &.affix {
        top: 0;
      }
    }

    &.affix {
      left: 0;
      opacity: 1;
      position: fixed;
      top: 0;

      .navbar-header {
        padding-bottom: 0;
        padding-top: 0;
      }

      .navbar-brand {
        font-size: $font-size-large;
      }

      .nav > li > .bs-dropdown-wrapper > *,
      .nav > li > a,
      .nav > li > span,
      .wrap-branding,
      .block-dxpr-theme-helper  {
        align-items: center;
        display: flex;
        height: var(--dxt-setting-header-top-height-scroll);
        line-height: var(--dxt-setting-header-top-height-scroll);
      }

      .dxpr-theme-main-menu {
        height: var(--dxt-setting-header-top-height-scroll);
      }

      .nav-child-fixed-width {
        top: var(--dxt-setting-header-top-height-scroll);
      }
    }

    .navbar-header {
      display: table;
      float: left;
      position: relative;
      z-index: 405;
    }

    .wrap-branding {
      .logo,
      .navbar-brand {
        align-items: center;
        display: flex;
        height: 100%;
        padding-right: 15px;
      }
    }

    .navbar-collapse {
      display: inline-block;
    }

    &.dxpr-theme-header--logo-center-menu-left,
    &.dxpr-theme-header--logo-center-menu-right {
      .navbar-header {
        left: 50%;
        position: absolute;
      }

      .wrap-branding {
        margin-left: -50%;

        .logo {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &.dxpr-theme-header--logo-left-menu-left,
    &.dxpr-theme-header--logo-center-menu-left {
      .nav,
      .block,
      .navbar-nav {
        float: left;
      }
    }

    &.dxpr-theme-header--logo-right-menu-left {
      .nav,
      .block,
      .navbar-nav {
        float: left;
      }

      .navbar-header,
      .wrap-branding {
        float: right;
      }
    }

    &.dxpr-theme-header--centered {
      text-align: center;

      .region-navigation {
        text-align: center;
      }

      .navbar-brand {
        clear: both;
        margin: 0 auto;
        text-align: center;
      }

      .navbar-header,
      .block,
      .navbar-nav {
        clear: both;
        display: inline-block;
        float: none;
        margin: 0 auto;
        text-align:center;
        vertical-align: top;
      }

      #dxpr-theme-main-menu {
        clear: both;
        display: block;
        text-align: center;
      }

      .navbar-nav {
        display: flex;
      }
    }

    &.dxpr-theme-header--centered-inline {
      text-align: center;

      .block,
      .navbar-header,
      #dxpr-theme-main-menu,
      nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
    }

    .block,
    .navbar-nav {
      float: right;
    }

    .dropdown {
      span {
        padding: 0 15px;
        pointer-events: none;
      }
    }

    .block-system-menu-blockmain {
      position: static !important; // needed for full width dropdown menus
    }

    .block-system-menu-blockmain .dropdown-menu {
      // @todo remove this when safari fixes their bug
      // transform CSS forces a redraw of the element and this fixes a safari-only
      // problem with box-shadow/border remaining visible with the menu @ display:none
      transform: translateZ(0);

      .dropdown {
        color: dxpr-color('headertext');

        * {
          color: dxpr-color('headertext');
        }

        li {
          float: none;
        }

        > span {
          color: dxpr-color('headertext');
          display: block;
          font-weight: normal;
          line-height: unset;
          padding: 10px 20px;
        }
      }

      .bs-dropdown-item-wrapper {
        padding-bottom: var(--bs-dropdown-item-padding-y);
        padding-top: var(--bs-dropdown-item-padding-y);
      }

      .dropdown-item {
        --bs-dropdown-indent-step: calc(var(--dxt-setting-nav-font-size) / 2);
      }
    }

    ul.nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      float: right;
    }

    .dxpr-theme-megamenu__heading {
      font-size: 18px;
      font-weight: 300;
    }

    // TB Mega Menu
    .nav-child-fixed-width {
      left: 0;
      position: absolute;
      right: 0;
      top: 100px;
    }

    .block-dxpr-theme-helper,
    .wrap-branding {
      height: var(--dxt-setting-header-top-height);
      line-height: var(--dxt-setting-header-top-height);
    }

    // Add spacing only when site name is present to avoid gaps when it's disabled
    .wrap-branding:has(.name.navbar-brand) {
      margin-bottom: 80px;
    }

    // Reduce spacing when header is sticky to prevent excessive gaps
    &.affix .wrap-branding:has(.name.navbar-brand) {
      margin-bottom: 60px;
    }
  }

}

.body--dxpr-theme-header-overlay {
  .wrap-messages {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 9999;
  }
}

// Toolbar fixes
html.js .body--dxpr-theme-nav-desktop {
  &.toolbar-fixed.toolbar-horizontal .dxpr-theme-header--top.dxpr-theme-header--overlay {
    top: 69px;
  }

  &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal .dxpr-theme-header--top.dxpr-theme-header--overlay {
    top: 118px;
  }

  &.toolbar-fixed.toolbar-horizontal .dxpr-theme-header--top.dxpr-theme-header--fixed,
  &.toolbar-fixed.toolbar-horizontal .dxpr-theme-header--top.affix {
    top: 39px!important;
  }

  &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal .dxpr-theme-header--top.dxpr-theme-header--fixed,
  &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal .dxpr-theme-header--top.affix {
    top: 80px!important;
  }

  &.gin--vertical-toolbar.toolbar-fixed.toolbar-horizontal .dxpr-theme-header--top.dxpr-theme-header--fixed,
  &.gin--vertical-toolbar.toolbar-fixed.toolbar-horizontal .dxpr-theme-header--top.affix {
    top: 0!important;
  }

  &.body--dxpr-theme-header-fixed.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal.body--dxpr-theme-header-not-overlay {
    padding-top: 180px!important;
  }

  &.body--dxpr-theme-header-fixed.toolbar-fixed.toolbar-horizontal.body--dxpr-theme-header-not-overlay {
    padding-top: 139px!important;
  }

  &.gin--vertical-toolbar.toolbar-fixed.toolbar-horizontal.body--dxpr-theme-header-fixed.body--dxpr-theme-header-top {
    padding-top: var(--dxt-setting-header-top-height) !important;
  }
}

html.js .gin--vertical-toolbar .dxpr-theme-header--fixed {
  left: var(--gin-toolbar-x-offset, 256px);
  width: calc(100% - var(--gin-toolbar-x-offset, 256px));
}

/* Custom colors */
.html #navbar.dxpr-theme-header--top .container-row > .col-sm-12 {
  background-color: var(--dxt-setting-navbar-background);
}

#navbar.dxpr-theme-header--top {
  .block {
    background-color: var(--dxt-setting-header-block-background);
  }

  .block:not(.contextual-region),
  .block:not(.contextual-region) a,
  .block .btn-link {
    color: var(--dxt-setting-header-block-text-color);
  }

  .nav {
    background-color: var(--dxt-setting-menu-background);
  }

  .nav,
  .nav a,
  .nav span {
    color: var(--dxt-setting-menu-text-color);
  }

  .dropdown-menu {
    background-color: var(--dxt-setting-dropdown-background);
  }

  .dropdown,
  .dropdown-menu a,
  .dropdown-menu button {
    color: var(--dxt-setting-dropdown-text-color);
  }
}
