// Fix bootstrap basetheme overrides.css thingy
// @see layout-theme-settings-css.inc
@import "../includes/variables";

.html .navbar.container {
  max-width: 1600px;
}

.body--dxpr-theme-nav-desktop {
  .navbar-container > .row > .col-sm-12 {
    position: relative;
    z-index: 405;
  }

  .nav-child-fixed-width {
    top: var(--dxt-setting-header-top-height);
  }
}

.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}

  // DXPR Theme Header Defaults across all layouts
.dxpr-theme-header {
  // override bootstrap styling
  background: dxpr-color('header');
  border: none;
  border-radius: 0;
  color: dxpr-color('headertext');
  display: block;
  padding: 0;
  z-index: 405;

  a {
    color: dxpr-color('headertext');
    cursor: pointer; // for "nolink" <a> tags
    outline: none;

    &.active,
    &:hover,
    &:focus {
      color: dxpr-color('headertext');
    }
  }

  .navbar-container {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;

    &.container-fluid {
      position: static;
    }
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .nav {
    display: block;
    margin-left: 0;
    margin-right: 0;

    h1, h2, h3, h4, h5 h6 {
      opacity: 0.75;
    }
  }

  .dxpr-theme-main-menu {
    a {
      color: dxpr-color('headertext');
      text-decoration: none;

      &.active,
      &:hover,
      &:focus {
        color: dxpr-color('headertext');
      }
    }

    .nav a {
      background: transparent;

      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }

  .navbar-header {
    .logo {
      padding-left: 0;
    }

    .navbar-brand {
      float: none;
      font-size: $font-size-h3;
      height: auto;
      letter-spacing: 1px;
      margin-left: 0;
      padding: 0;
    }
  }

  .dropdown-menu {
    background: dxpr-color('header');
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px rgb(0 0 0 / 17.5%);
    margin-top: 0;
    padding: 5px 0;

    ul {
      padding-left: 0;
    }

    li {
      list-style: none none;
      width: 100%;

      a {
        background: transparent;
        display: block;
      }
    }
  }

  .dxpr-theme-megamenu {
    border: none;
    box-shadow: none;
    display: block;
    position: static;

    li {
      float: none;
    }
  }

  .row,
  .block {
    margin-bottom: 0;
  }

  .mega-dropdown-menu {
    padding-top: 15px;

    .block {
      padding-left: 20px;
      padding-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .nav-child-fixed-width {
    width: 100%!important;
  }

  &.affix .nav-child-fixed-width {
    top: 60px;
  }
}

.body--dxpr-theme-nav-mobile {
  .dxpr-theme-header {
    position: static;

    li {
      clear: both;
    }

    .dropdown-menu {
      border: none;
      box-shadow: none;
    }
  }
}

/* Header Styles */
#dxpr-theme-main-menu, /* N/A */
#dxpr-theme-main-menu .menu__breadcrumbs,
#dxpr-theme-main-menu .menu__level {
  text-align: left;
}

// MENU HOVER BACKGROUND EFFECT
#navbar.dxpr-theme-header--hover-background .nav {
  .active > a,
  a:hover,
  a:hover .nav a:focus,
  a.is-active {
    background-color: var(--dxt-setting-menu-hover-background, dxpr-color('base')) !important;
  }

  a.dropdown-item {
    &:hover,
    &:focus {
      background-color: var(--dxt-setting-menu-hover-background) !important;
    }
  }
}

#navbar.dxpr-theme-header--hover-background .dropdown-menu {
  a,
  button {
    &:hover,
    &:focus {
      background-color: var(--dxt-setting-dropdown-hover-background) !important;
    }
  }
}

#navbar.dxpr-theme-header--hover-text .nav {
  .active > a,
  a:hover,
  a:focus,
  a.is-active {
    color: dxpr-color('base') !important;
  }
}

#navbar.dxpr-theme-header--hover-opacity .nav {
  .active > a,
  a:hover,
  a:focus,
  a.is-active {
    opacity: 0.8;
  }
}

.dxpr-theme-header--top.dxpr-theme-header--hover-border .nav > li {
  position: relative;
}

.dxpr-theme-header--top.dxpr-theme-header--hover-border .nav > li > a::before {
  background: #eee;
  background: dxpr-color('base');
  bottom: 0;
  content: ' ';
  display: block;

  // Default settings
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1) translate(10px, 0);
  width: calc(100% - 20px);
}

.dxpr-theme-header--top.dxpr-theme-header--hover-border .nav li.active > a::before,
.dxpr-theme-header--top.dxpr-theme-header--hover-border .nav a:hover::before,
.dxpr-theme-header--top.dxpr-theme-header--hover-border .nav a.is-active::before {
  transform: scale(1, 1) translate(10px, 0);
}

//
// Menu corrections.
//
nav#dxpr-theme-main-menu {
  .bs-dropdown-wrapper,
  .bs-dropdown-item-wrapper {
    border-radius: 0 3px 3px 0;
  }
}
